@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Go to <a asp-controller="Customer" asp-action="AllCustomers" asp-route-startingLetter='A' asp-route-endingLetter='E'>All customers</a></p>
</div>
